
/* style ya home page */
html{
  background: linear-gradient(335deg, #bfdbd9, #ffec6614);}

body{
   justify-items: center;
    margin-left: 21%;
}
.sideBar{
    display: flex;
    background: #ffffff;
    color: aliceblue;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    align-content: flex-end;
    width: 20%;
    flex-direction: column;
    padding-top: 155px;
    align-items: anchor-center;
    box-shadow: 0 10px 10px 10px #00000029;
}
section.votePresident, .voteGs{
    width: max-content;
    margin: 100px;
    background: linear-gradient(rgb(0 0 0), #000000c4);
    padding: 70px;
    border-radius: 10px;
}
h1{
    color: #b37676;
    text-align: center;
    font-family: monospace;
}
div.presidents{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}
.presidents div{
   backdrop-filter: blur(29px);
    width: 200px;
    height: 300px;
    background: #f0f8ff57;
    padding: 29px;
    text-align: center;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
}
.presidents div:hover{
    transform: scale(1.05);
    box-shadow: inset 0 0 10px 10px rgba(247, 247, 247, 0.144);
}
div img{
        width: 100px;
    border-radius: 23px;
}
.fa-user::before{
    content: "\f007";
    font-size: xxx-large;
    background: aliceblue;
    padding: 10px 17px;
    border-radius: 37px;
}
.Pname{
    color: white;
    margin-top: 35px;
}
strong{
    font-family: serif;
    color: cornflowerblue;
}
h1{
    color: #b37676;
    text-align: center;
    font-family: monospace;
}
button{
    display: block;
    width: 100%;
    margin-top: 45px;
    padding: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 7px 0px white;
    color: #f0f8ffbe;
    transition: all ease-in-out 0.9s;
}
button:hover{
    background-color: green;
    transform: scale(1.03);
    cursor:pointer;
}
img{
    user-select: none;
    border-radius: 50%;
    width: 200px;
    cursor: pointer;
}
#buIt{
    color: darkslategrey;
    font-family: fantasy;
}
.exit{
    color: rgb(255, 255, 255);
    background: rgb(218, 214, 15);
    width: fit-content;
    font-size: large;
    padding: 10px;
    height: 47px;
    text-decoration: none;
    margin: -100px;
}
.confidentialityInfo{
    color: white;
    background: #0f73af;
    padding: 10px;
    width: 80%;
    margin-top: 79px;
    border-radius: 10px;
    height: 380px;
    text-align: center;
}
a{
    text-decoration: none;
}
#title{
    position: absolute;
    top: 5px;
    color: rgba(155, 155, 155, 0.267);
    font-size: 35px;
    
}