html{
    background-color: aliceblue;
    display: flex;
    font-family: monospace;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    width: 277px;
    align-self: anchor-center;
    justify-self: center;
}
form{
   display: flex;
    align-self: center;
    justify-self: center;
    width: max-content;
    padding: 0px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0px 0px 11px 2px #80808070;
}
.f-header{
    background-color: skyblue;
    padding: 10px;
    color: white;
}
.f-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    color: black;
}
label{
    color: darkgrey;
}
input{
    width: 90%;
    height: 30px;
    justify-self: center;
    margin: 6px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 1px 4px 0px;
    outline: #00ff00;
}
button{
   background-color: #81c31c;
    color: azure;
    padding: 10px;
    border: none;
    width: 105px;
    height: 38px;
    border-radius: 3px;
    font-family: cursive;
}